@include media-md {
    .menu-btn {
        visibility: hidden;
    }

    .nav {
        visibility: visible;

        .menu-nav {
            display: block;
            transform: translateY(0);
            height: 100%;
            background: transparent;
            text-align: right;

            &__item {
                display: inline;
                padding-right: 1.5rem;
            }

            &__link {
                font-size: 1.5rem;
            }
        
        }
    }



    .about__bio {
        font-size: 1.5rem;
    
            position: absolute;
            width: 80%;
            text-align: left;
            top: 35%;
            left: 5%;

    }

    .projects {
        &__bio-image {
            height: 40vh;
        }

        &__items {
            grid-template-columns: repeat(2, 1fr);
        }

        .text-secondary {
            font-size: 3rem;
        }
    }

    .contact__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer {
        color: white;
        font-weight: 600;
    }
}

@include media-lg {
    .projects {
        &__items {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .contact__list {
        grid-template-columns: repeat(3, 1fr);

    }
}

@include media-xl {
    .projects__bio-image {
        height: 50vh;
    }
}




@include media-xs {

    .about {
        // padding-bottom: 2rem;
    
        &__bio-image {
            height: 100vh;
            width: 100%;
            opacity: 1;
            margin: 0;
            overflow: hidden;
            // padding: 10px;
            background: 
            linear-gradient(
                to right,
                rgba($primary-color, 1.0),
                rgba($primary-color, 0.1)
            );
    
    
    }
    
    }


    .about__bio {
        position: absolute;
        width: 80%;
        text-align: center;
        top: 20%;
        left: 5%;
        font-size: medium;

        p {
            color: black;
            font-weight: 600;

        }
    }

    // .footer {
    //     color: black;
    //     font-weight: 500;
    // }

}

@include media-sm {

    .about__bio {
        position: absolute;
        width: 80%;
        text-align: center;
        top: 20%;
        left: 5%;
        font-size: large;
    }

    .footer {
        color: white;
        font-weight: 600;
    }

}
